/*----------------------------------------------------Imports*/

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Poiret+One');

/*----------------------------------------------------Colours*/

.bg-color1 {
    background-color: #fffcf9;
}
.bg-color2 {
    background-color: #f1eaf1;
}
/*----------------------------------------------------Navbar*/
#grad1 {
    background-image: linear-gradient(#bfc1c9, #fffcf9);
}
.navbar-brand {
    font-family: "Poiret One", sans-serif;
    font-size: 30px;
    color: #7f8084;
    line-height: 1;
}
.nav-item {
    font-family: "Poiret One", sans-serif;
    font-size: 1.2em;
}
.nav-link {
    color: #7f8084;
}
.navbar-toggler-icon {
    color: #7f8084;
}
/*----------------------------------------------------Landing/Welcome Page*/
#myCanvas1 {
    background-color: #bfc1c9;
    line-height: 0.5;
}

#myCanvas2 {
    background-color: #c99dc4;
    line-height: 0.5;
}
.area-padding {
    padding-bottom: 130px 0;
}
body {
    max-height: 100vh;
    position: relative;
}
.mobile-logo {
    margin-top: 0;
    padding-top: 0;
}
.quote_mission {
    font-family: "Poiret One", sans-serif;
    font-size: 4vh;
    color: #c99dc4;
}
.side-menu-lg {
    list-style-type: none;
    margin: auto;
    width: 100%;
    font-size: 1.5vh;
}
.side-menu-sm {
    list-style-type: none;
    margin: auto;
    width: 100%;
    font-size: 2vh;
}
.side-menu-item-lg {
    font-family: "Poiret One", sans-serif;
    font-size: 5.5em;
    color: #c99dc4;
    line-height: 2;
}
.side-menu-item-sm {
    font-family: "Poiret One", sans-serif;
    font-size: 2em;
    color: #c99dc4;
    line-height: 2;
}
.welcome-font-sm{
    font-family: "Poiret One", sans-serif;
    font-size: 2.5em;
    color: #c99dc4;
    line-height: 2;
}
.welcome-font-lg {
    font-family: "Poiret One", sans-serif;
    font-size: 5em;
    color: #c99dc4;
    line-height: 1.1;
}
.welcome-photo {
    opacity: 0.15;
}
/*----------------------------------------------------Get to know me section*/

/*----------------------------------------------------Lets explore section*/
.area-heading h2{
    font-family: "Poiret One", sans-serif;
    font-size: 8vh;
    text-align: center;
    width: 100%;
    margin-bottom: 45px;
    position: relative;
    color: #c99dc4;
    padding-top: 25px;
}
.area-heading h2::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    background: #bfc1c9;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.carousel-caption {
    font-family: "Poiret One", sans-serif;
    font-size: 2.8vh;
    font-weight: 500;
}
.carousel-img {
    opacity: 0.7;
}
.display-1 {
    font-family: "Poiret One", sans-serif;
    font-size: 4vh;
    font-weight: 400;
    color: #bfc1c9;
    margin-bottom: 50px;
}
.display-2 {
    font-family: "Poiret One", sans-serif;
    font-size: 6vh;
    font-weight: 800;
    color: #bfc1c9;
    margin-bottom: 50px;
}
.question-area {
    font-family: "Poiret One", sans-serif;
    background: #d4b9d4;
    color: #fffcf9;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    padding: 10px;
    border-left: 1px solid #fffcf9;
    border-top: 1px solid #fffcf9;
    border-top-left-radius: 2%;
}
.question-area-sm {
    font-family: "Poiret One", sans-serif;
    background: #d4b9d4;
    color: #fffcf9;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    padding: 10px;
    border-left: 1px solid #fffcf9;
    border-top: 1px solid #fffcf9;
    border-top-left-radius: 2%;
}
.quotes {
    font-family: "Poiret One", sans-serif;
    font-size: 3vh;
    line-height: 2.5;
    letter-spacing: 2px;
    color: #7f8084;
}
.single-photo {
    position: relative;
}
.thumb {
    overflow: hidden;
    opacity: 0.75;
}
/*----------------------------------------------------Connect with me section*/


.display-1 {
    font-family: "Poiret One", sans-serif;
    font-size: 4vh;
    font-weight: 400;
    color: #bfc1c9;
    margin-bottom: 50px;
}
.display-2 {
    font-family: "Poiret One", sans-serif;
    font-size: 6vh;
    font-weight: 800;
    color: #bfc1c9;
    margin-bottom: 50px;
}
/*----------------------------------------------------Footer/Quotes sections*/

#grad2 {
    background-image: linear-gradient(#fffcf9, #bfc1c9);
}
footer {
    font-family: "Poiret One", sans-serif;
    color: #7f8084;
    min-height: 60px;
    margin: 0;
}
.footer-logo {
    display: inline-block;
    margin-top: 0px;
    padding: 20px 10px;
}
.social-links li a i {
    font-size: 24px;
    padding: 12px 0;
    line-height: 7px;
    text-align: center;
    color: #7f8084;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
/*----------------------------------------------------Special Text/Margins/Modals*/
.blockquote {
    margin-bottom: 0;
}
.modal-content {
    font-family: "Poiret One", sans-serif;
    font-weight: 500;
    font-size: 2vh;
}