/*----------------------------------------------------Imports*/

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Poiret+One');

/*----------------------------------------------------Body*/

.bg-color1 {
    background-color: #fffcf9;
}
.bg-color2 {
    background-color: #f1eaf1;
}
/*----------------------------------------------------Welcome Landing Page*/
.area-heading h2{
    font-family: "Poiret One", sans-serif;
    font-size: 4em;
    text-align: center;
    width: 100%;
    margin-bottom: 45px;
    position: relative;
    color: #c99dc4;
    padding-top: 25px;
}
.area-heading h2::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    background: #bfc1c9;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.carousel-inner {
    width: "40%";
    height: "40%";
}

body {
    max-height: 100vh;
}

#myCanvas1 {
    background-color: #bfc1c9;
    line-height: 0.5;
}

#myCanvas2 {
    background-color: #c99dc4;
    line-height: 0.5;
}
.display-1 {
    font-family: "Poiret One", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #bfc1c9;
    margin-bottom: 50px;
}
.display-2 {
    font-family: "Poiret One", sans-serif;
    font-size: 2em;
    font-weight: 400;
    color: #bfc1c9;
    margin-bottom: 50px;
}

.mobile-logo {
    margin-top: 0;
    padding-top: 0;
    object-fit: cover;
}
.question-area {
    font-family: "Poiret One", sans-serif;
    background: #bfc1c9;
    color: #fffcf9;
    font-size: 2.5vh;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    padding: 20px;
}
.quotes {
    font-family: "Poiret One", sans-serif;
    font-size: 1.5em;
    line-height: 2.5;
    letter-spacing: 2px;
    color: #7f8084;
}

.quote_mission {
    font-family: "Poiret One", sans-serif;
    font-size: 2em;
    color: #c99dc4;
}

.side-menu-lg {
    list-style-type: none;
    margin: auto;
    width: 100%;
    font-size: 0.75em;
}

.side-menu-sm {
    list-style-type: none;
    margin: auto;
    width: 100%;
    font-size: 1.75em;
}

.side-menu-item-lg {
    font-family: "Poiret One", sans-serif;
    font-size: 5.5em;
    color: #c99dc4;
    line-height: 2;
}

.side-menu-item-sm {
    font-family: "Poiret One", sans-serif;
    font-size: 2em;
    color: #c99dc4;
    line-height: 2;
}
.single-photo {
    position: relative;
}
.thumb {
    overflow: hidden;
    opacity: 0.75;
}
.welcome-font-sm{
    font-family: "Poiret One", sans-serif;
    font-size: 2.5em;
    color: #c99dc4;
    line-height: 2;
}
.welcome-font-lg {
    font-family: "Poiret One", sans-serif;
    font-size: 5em;
    color: #c99dc4;
    line-height: 1.1;
}
.welcome-photo {
    opacity: 0.15;
}

/*----------------------------------------------------Navbar*/

#grad1 {
    background-image: linear-gradient(#bfc1c9, #fffcf9);
}

.navbar-brand {
    font-family: "Poiret One", sans-serif;
    font-size: 30px;
    color: #7f8084;
    line-height: 1;
}

.nav-item {
    font-family: "Poiret One", sans-serif;
    font-size: 1.2em;
}

.nav-link {
    color: #7f8084;
}

.navbar-toggler-icon {
    color: #7f8084;
}

/*----------------------------------------------------Footer*/

#grad2 {
    background-image: linear-gradient(#fffcf9, #bfc1c9);
}

footer {
    font-family: "Poiret One", sans-serif;
    color: #7f8084;
    min-height: 60px;
    margin: 0;
}

.footer-logo {
    display: inline-block;
    margin-top: 0px;
    padding: 20px 10px;

}

.social-links li a i {
    font-size: 24px;
    padding: 12px 0;
    line-height: 7px;
    text-align: center;
    color: #7f8084;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


/*----------------------------------------------------Special Text/Margins*/

.area-padding {
    padding-bottom: 130px 0;
}
.blockquote {
    margin-bottom: 0;
}
.carousel-caption {
    font-family: "Poiret One", sans-serif;
    font-size: 30px;
}
